* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #f5f5f5;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: black;
    color: white;
}

.logo {
    font-size: 28px;
    font-weight: 700;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 80px;
}

.hero-text h1 {
    font-size: 45px;
}

.hero-text h1 span {
    color: #007bff;
}

.hero-text h2 {
    font-size: 25px;
    margin: 10px 0;
}

.btn {
    margin-top: 20px;
    padding: 12px 28px;
    background: #007bff;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
}

.hero-image img {
    width: 350px;
    border-radius: 20px;
}

/* ABOUT */
.about, .skills, .contact {
    padding: 50px 80px;
    text-align: center;
}

.skill-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.skill {
    padding: 12px 25px;
    background: black;
    color: white;
    border-radius: 8px;
    font-size: 16px;
}
